/*Master style*/
body{
  margin: 0px;
}

.highlightme {background-color: LemonChiffon;}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content-wrapper {
  padding-top: 102px;
}

.container{
  display: grid;
  grid-template-columns: 1fr;
}

/* NAVBAR*/
.nav-wrapper{
  font-family: 'Piazzolla', sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 38px;
  background-color: PowderBlue;
}

.leftside{
    display: flex;
}

.nav-wrapper > .leftside > div{
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper{
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
  color: Black;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: Teal;
}

/* Content */
.content-wrapper{
  font-family: 'David Libre', sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  background-color: White;
  margin-bottom: 100px;
}

.name{
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 3em;
  color: teal;
  font-weight: bold;
}

/* .profile-wrapper{
  position: relative;
} */

.profile-img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 50px;
}

.title{
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 3em;
  color: teal;
}

.subtitles {
  margin-top: 25px;
  margin-left: 550px;
  margin-right: 550px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 1.2em;
  color: black;
}

.container > .content-wrapper > .profile-wrapper > .subtitles a:link{
    color: CadetBlue;
    text-decoration: none;
}
.container > .content-wrapper > .profile-wrapper > .subtitles a:hover{
    color: LightCoral;
    text-decoration: none;
}
.container > .content-wrapper > .profile-wrapper > .subtitles a:visited{
    color: PaleVioletRed;
    text-decoration: line-through;
}

.experiences{
  display: flex;
  align-items: center;
  justify-content: center;
}
.ls > div{
  margin-right: 25px;
  margin-bottom: 10px;
  font-size: 1.2em;
  font-weight: bolder;
}

.rs > div{
  margin-left: 25px;
  margin-bottom: 10px;
  font-size: 1.2em;
}
